page-login {

}

.toast-success {
    > div{
        background-color:#81c5da!important;
   }
}

.toast-warning {
    > div{
        background-color:#ecd904!important;
   }
}

.toast-danger {
    > div{
        background-color:rgb(192, 51, 63)!important;
   }
}